html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

input[type="file"] {
  margin: 40px 0;
}

p {
  display: flex;
  margin: 10px 0;
}

.dropzone {
  width: 175px;
  height: 175px;
  border: 2px dashed #cccccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
